:root {
    --color1: #F25A70;
    --color2: #F2CD5D;
    --color3: #2E5EAA;
    --color4: #16001E;
    --color5: #C7EDE4;
    --black1: #000;
    --black2: #3A4042;
    --black3: #828282;
    --status-error: #BA1F33;
    --status-warn: #CEB02A;
    --status-success: #62C370;
}

header {
    background-color: var(--color3);
    border-bottom: 10px solid var(--black1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.6s all
}

a:hover {
    transform: rotate(10deg) scale(1.2);
}

a::before {
    content: "";
    background-color: var(--color1);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

nav {
    text-align: right;
}

#buttonCV {
    display: inline-block;
    background-color: var(--color1);
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow: 5px 5px 0 var(--black1);
    margin-right: 0;
    transition: 0.6s all
}

#buttonCV:hover {
    background-color: var(--black1);
    color: var(--color1);
    transform: scale(1.1);
    box-shadow: 5px 5px 0 var(--color1);
}

#logo {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    text-shadow: 5px 5px 0 var(--black1);
}