:root {
    --color1: #F25A70;
    --color2: #F2CD5D;
    --color3: #2E5EAA;
    --color4: #16001E;
    --color5: #C7EDE4;
    --black1: #000;
    --black2: #3A4042;
    --black3: #828282;
    --status-error: #BA1F33;
    --status-warn: #CEB02A;
    --status-success: #62C370;
}