.main-section.-first {
    background-color: var(--color1);
    border-bottom: 10px solid var(--color3);
}

.main-section.-second {
    background-color: var(--black1);
    border-bottom: 10px solid var(--color1);
}

.main-section.-third {
    background-color: var(--color3);
    border-bottom: 10px solid var(--black1);
}

.main-section.-fourth {
    background-color: var(--black2);
    /* border-bottom: 10px solid var(--black1); */
}

.main-section {
    padding-top: 50px;
    padding-bottom: 100px;
}