.main-section.-first {
    background-color: var(--color1);
    border-bottom: 10px solid var(--color3);
    padding-top: 50px;
    padding-bottom: 100px;
}

/* .section .main-title {
    margin-bottom: 60px;
} */

.main-section.-second {
    background-color: var(--black1);
    border-bottom: 10px solid var(--color1);
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section.-third {
    background-color: var(--color3);
    border-bottom: 10px solid var(--black1);
    padding-top: 50px;
    padding-bottom: 100px;
}